
.login-box {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    width: 30vw;
    padding: 3em;
}

.login-form-element {
    font-family: inherit;
    font-weight: 600;
    resize: none;
    font-size: 1em;
    margin: 0.8em 0;
}

.login-form-button {
    align-self: flex-end;
    margin: 1em 0;
    background-color: #2205a38c;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2px;
    border: 0;
    width: 25%;
    height: 1.5rem;
}

#login-heading {
    margin: 0;
    font-size: 1.8em;
}