.box {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 1em;
}

.box>* {
    flex: 1 0 33.3333%;
}

.list-element {
    position: relative;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
    border-radius: 2px;
    padding: 1em;
    margin: 1em;
}

.task-status {
    position: absolute;
    top: 1em;
    left: 1em;
}

.task-text {
    background: transparent;
    border-radius: 2px;
    border: none;

    width:100%;
    resize: none;

    font-family: inherit;
    font-size: inherit;
    font-size: 1.2em;
    font-weight: 600;
    
    margin: 2em 0;
    padding: 0.5em 0;
}

.task-text:focus {
    background-color: white;
    outline: none 
}

.tasks-button {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 0;
    font-weight: 700;
    padding: 0.5em;
}

#delete-button {
    position: absolute;
    background: transparent;
    top: 1em;
    right: 1em;
}

#complete-button {
    position: absolute;
    background-color: #2205a38c;
    border-radius: 2px;
    bottom: 1em;
    right: 1em;
    width: 120px;
    border-radius: 2px;
}
