* { margin: 0; padding: 0; }

html {
  background-color: rgba(172, 172, 172, 0.438);
}

html, body {
  height: 100%;
  
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}